/* ==========================================================================
Typography
========================================================================== */
a{
	color: #4a0072;
	text-decoration: none;
}
html{
	color: #212121;
}
/* ==========================================================================
Header Component
========================================================================== */
header{
	background-color: #99d066;
	color:white;
	padding: 2rem;
}
li{
	display: inline;
	padding-right: 1rem;
}
ul{
	list-style: none;
	padding: 0;
}
/* ==========================================================================
Footer Component
========================================================================== */
footer{
	background-color: #bf5f82;
	color:#fafafa;
	padding: 2rem;
}
